# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4
ColumnLimit: 80
PointerAlignment: Left
SortIncludes: true

# K&R style: https://en.wikipedia.org/wiki/Indentation_style
BreakBeforeBraces: Attach

